<hgroup>
<!--   <img src="{{ root_url }}/images/ah_frame_transparent.svg" /> -->
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>

  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  	#mc_embed_signup{
      background:#fff;
      clear:left;
      font:14px Helvetica,Arial,sans-serif;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    #mc_embed_signup form { width: 100% ;}
    #mc_embed_signup input.email      { margin-left: auto; margin-right: auto; width: 75%; }
    #mc_embed_signup div input.button { margin-left: auto; margin-right: auto; width: 50%; }
  </style>

  <div id="mc_embed_signup">
    <form action="http://razormoosellc.us1.list-manage.com/subscribe/post?u=35003ea04a2b5f4325136907d&amp;id=4e69f27b84" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_35003ea04a2b5f4325136907d_4e69f27b84" value=""></div>
    	<div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </div>

<!--End mc_embed_signup-->
</hgroup>
